.actions {
  @include flex-all-sb;

  background-color: var(--dark-background-color);

  &__image {
    @include big-tablet {
      display: none;
    }
  }

  &__text {
    max-width: 542px;

    @include big-desktop {
      max-width: 400px;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 21px;
    color: var(--light-color);
    font-size: 22px;
    font-weight: 400;
    line-height: 100%;
  }

  &__desc {
    color: var(--light-color);
    font-size: 15px;
    font-weight: 400;
    line-height: 160%;
  }


  @include big-tablet {
    padding: 80px 0;
  }
}
