.btn {
  height: 54px;
  border-radius: 80px;
  padding: 17px 33px;
  text-align: center;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.02px;

  &--light {
    border: 1px solid rgba(255, 255, 255, 0.30);
    color: var(--light-color);
  }
}
