.nav {
  &__list {
    @include flex-all-sb;

    gap: 51px;

    @include small-tablet {
      gap: 30px;
    }
  }

  &__link {
    color: var(--light-color);
    font-size: 13px;
    line-height: 16px;
    transition: opacity 0.3s ease-in-out;

    &:hover {
      opacity: 0.8;
    }
  }
}
