.news {
  padding-top: 30px;
  padding-bottom: 24px;

  &__list {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 32px;
  }

  &__item {
    grid-column: 2 span;
    display: flex;
    align-items: center;

    img {
      margin-right: 8px;
    }

    &::before {
      content: '';
      position: absolute;
      margin-bottom: 65px;
      width: 165px;
      height: 1px;
      background: rgba(53, 83, 98, 0.30);

      @include big-desktop{
        width: 120px;
      }

      @include big-tablet {
        width: 165px;
      }
    }

    @include big-tablet {
      grid-column: 4 span;
    }
  }

  &__text {
    max-width: 128px;
    color: var(--text-color);
    font-size: 15px;
    font-weight: 400;
    line-height: 160%;
  }
}
