<section class="about">
  <div class="container about__container">
    <h2 class="about__desc">
      We are a non-profit that partners with state criminal justice agencies to advance their use of data and reduce incarceration.
    </h2>
    <ul class="list-reset about__list">
      <li class="about__item">
        <div class="about__number">1</div>
        <p class="about__text">
          intake an agency’s disjointed data
        </p>
      </li>
      <li class="about__item">
        <div class="about__number">2</div>
        <p class="about__text">
          deploy tools for all levels of decision making
        </p>
      </li>
      <li class="about__item">
        <div class="about__number">3</div>
        <p class="about__text">
          improve outcomes for justice-impacted individuals
        </p>
      </li>
    </ul>
  </div>
</section>
