<section class="actions">
  <div class="actions__img">
    <picture class="actions__image">
      <source srcset="img/actions-img-1.webp" type="image/webp">
      <img loading="lazy" src="img/actions-img-1.png" class="image" width="287" height="680" alt="">
    </picture>
  </div>
  <div class="actions__text">
    <h2 class="actions__title">See the forest and the trees.</h2>
    <p class="actions__desc">
      The criminal justice system can&rsquo;t support safe, whole communities without feedback on&nbsp;what&rsquo;s working and what&rsquo;s not. We&nbsp;stitch together data from fragmented systems to&nbsp;provide decision-makers with the information they need to&nbsp;improve outcomes. With this data, we&nbsp;surface opportunities to&nbsp;safely chart a&nbsp;path to&nbsp;a&nbsp;smaller system, and to&nbsp;track the impact of&nbsp;policy and practice changes over time.
    </p>
  </div>
  <div class="actions__img">
    <picture class="actions__image">
      <source srcset="img/actions-img-2.webp" type="image/webp">
      <img loading="lazy" src="img/actions-img-2.png" class="image" width="287" height="680" alt="">
    </picture>
  </div>
</section>
