<section class="approach">
  <div class="container approach__container">
    <div class="approach__left">
      <h2 class="approach__title">A human–centered definition of success.</h2>
      <p class="approach__desc">
        Our approach is&nbsp;shaped by&nbsp;the perspective and experience of&nbsp;people impacted by&nbsp;the justice system. Together, we&nbsp;are focused on&nbsp;restoring equity and supporting success in&nbsp;the community.
      </p>
      <button class="btn-reset btn approach__btn">Our approach</button>
    </div>
    <div class="approach__right">
      <div class="approach__img">
        <picture>
          <source srcset="img/approach-1.webp" type="image/webp">
          <img loading="lazy" src="img/approach-1.jpg" class="image" width="235" height="266" alt="">
        </picture>
      </div>
      <div class="approach__img">
        <picture>
          <source srcset="img/approach-2.webp" type="image/webp">
          <img loading="lazy" src="img/approach-2.jpg" class="image" width="317" height="262" alt="">
        </picture>
      </div>
    </div>
  </div>
</section>
