<header class="header">
  <div class="container">
    <div class="header__content">
      <a href="#" class="logo header__logo">
        <img loading="lazy" src="img/svg/logo.svg" class="image" width="110" height="26" alt="">
      </a>
      <nav class="nav header__nav" title="Main navigation">
        <ul class="list-reset nav__list">
          <li class="nav__item"><a href="#" class="nav__link">States</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Tools</a></li>
          <li class="nav__item"><a href="#" class="nav__link">People</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Learn More</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Donate</a></li>
        </ul>
      </nav>
      <a href="#" class="header__login">Log In</a>
    </div>
  </div>
</header>
