<section class="info">
  <div class="info__img"></div>
  <div class="container info__container">
    <h2 class="info__title">Get the right information to the right person at the right time.</h2>
    <ul class="list-reset info__list">
      <li class="info__item">
        <h3 class="info__subtitle">For Leaders</h3>
        <p class="info__desc">
          Set goals, forecast the impact of policy or practice changes, and track their outcomes across your agency.
        </p>
      </li>
      <li class="info__item">
        <h3 class="info__subtitle">For Line Staff</h3>
        <p class="info__desc">
          Track probation and parole outcomes, see what’s leading to success, and reduce recidivism with our case management system.
        </p>
      </li>
      <li class="info__item">
        <h3 class="info__subtitle">For the Public</h3>
        <p class="info__desc">
          Use open source code, public data, interactive tools, and data visualizations to understand the state of incarceration, promote accountability, and conduct research.
        </p>
      </li>
      <li class="info__item">
        <h3 class="info__subtitle">For Policymakers and Advocates</h3>
        <p class="info__desc">
          Project the impact of policies on carceral, fiscal, and community outcomes. Understand where disparities begin, where they grow, and whether a policy is likely to increase or reduce them.
        </p>
      </li>
    </ul>
  </div>
</section>
