<section class="menu">
  <div class="container menu__container">
    <nav class="menu__nav">
      <ul class="list-reset menu__list">
        <li class="menu__item">
          <h3 class="menu__title">Company</h3>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__link">About</a>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__link">Team</a>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__link">Supporters</a>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__link">Diversity</a>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__link">Blog</a>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__link">Press</a>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__link">Careers</a>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__link">Contact</a>
        </li>
      </ul>

      <ul class="list-reset menu__list">
        <li class="menu__item">
          <h3 class="menu__title">Product</h3>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__link">Our Approach</a>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__link">Corrections Leaders</a>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__link">Corrections Staff</a>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__link">Policy Impact</a>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__link">Public Data</a>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__link">Security</a>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__link">Testimonials</a>
      </ul>

      <ul class="list-reset menu__list">
        <li class="menu__item">
          <h3 class="menu__title">States</h3>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__link">Overview</a>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__link">Idaho</a>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__link">Maine</a>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__link">Michigan</a>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__link">Missouri</a>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__link">North Dakota</a>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__link">Pennsylvania</a>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__link">Tennessee</a>
        </li>
      </ul>

      <ul class="list-reset menu__list">
        <li class="menu__item">
          <h3 class="menu__title">Network</h3>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__link">Twitter</a>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__link">Medium</a>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__link">GitHub</a>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__link">LinkedIn</a>
        </li>
      </ul>
    </nav>
  </div>
</section>
