<section class="news">
  <div class="container news__container">
    <ul class="list-reset news__list">
      <li class="news__item">
        <img loading="lazy" src="img/svg/news-1.svg" class="image" width="24" height="24" alt="">
        <div class="news__text">TED Talks</div>
      </li>
      <li class="news__item">
        <img loading="lazy" src="img/svg/news-2.svg" class="image" width="24" height="24" alt="">
        <div class="news__text">The New York Times</div>
      </li>
      <li class="news__item">
        <img loading="lazy" src="img/svg/news-3.svg" class="image" width="24" height="24" alt="">
        <div class="news__text">StateScoop</div>
      </li>
      <li class="news__item">
        <img loading="lazy" src="img/svg/news-4.svg" class="image" width="24" height="24" alt="">
        <div class="news__text">Associated Press</div>
      </li>
      <li class="news__item">
        <img loading="lazy" src="img/svg/news-5.svg" class="image" width="24" height="24" alt="">
        <div class="news__text">Time</div>
      </li>
      <li class="news__item">
        <img loading="lazy" src="img/svg/news-6.svg" class="image" width="24" height="24" alt="">
        <div class="news__text">Freethink</div>
      </li>
    </ul>
  </div>
</section>
