<section class="partners">
  <div class="container partners__container">
    <h2 class="partners__title">Partners</h2>
    <ul class="list-reset partners__list">
      <li class="partners__item">
        <picture>
          <source srcset="img/partner-1.webp" type="image/webp">
          <img loading="lazy" src="img/partner-1.jpg" class="image" width="160" height="67" alt="">
        </picture>
      </li>
      <li class="partners__item">
        <picture>
          <source srcset="img/partner-2.webp" type="image/webp">
          <img loading="lazy" src="img/partner-2.jpg" class="image" width="160" height="67" alt="">
        </picture>
      </li>
      <li class="partners__item">
        <picture>
          <source srcset="img/partner-3.webp" type="image/webp">
          <img loading="lazy" src="img/partner-3.jpg" class="image" width="160" height="67" alt="">
        </picture>
      </li>
      <li class="partners__item">
        <picture>
          <source srcset="img/partner-4.webp" type="image/webp">
          <img loading="lazy" src="img/partner-4.jpg" class="image" width="160" height="67" alt="">
        </picture>
      </li>
      <li class="partners__item">
        <picture>
          <source srcset="img/partner-5.webp" type="image/webp">
          <img loading="lazy" src="img/partner-5.jpg" class="image" width="160" height="67" alt="">
        </picture>
      </li>
      <li class="partners__item">
        <picture>
          <source srcset="img/partner-6.webp" type="image/webp">
          <img loading="lazy" src="img/partner-6.jpg" class="image" width="160" height="67" alt="">
        </picture>
      </li>
    </ul>
    <div class="partners__link">See All</div>
  </div>
</section>
