<section class="press">
  <div class="container press__container">
    <div class="press__top">
      <h2 class="press__title">Recidiviz in the Press</h2>
      <button class="btn-reset btn press__btn">See All</button>
    </div>
    <ul class="list-reset press__list">
      <li class="press__item">
        <div class="press__head">
          <img loading="lazy" src="img/svg/press-1.svg" class="image" width="24" height="24" alt="">
          <div class="press__company">TED Talks</div>
          <div class="press__date">2.22.22</div>
        </div>
        <p class="press__desc">
          Meet the 2022 class of TED Fellows
        </p>
      </li>
      <li class="press__item">
        <div class="press__head">
          <img loading="lazy" src="img/svg/press-2.svg" class="image" width="24" height="24" alt="">
          <div class="press__company">Correctional News</div>
          <div class="press__date">2.22.22</div>
        </div>
        <p class="press__desc">
          New Partnership Aims to Help Transform Prison Conditions
        </p>
      </li>
      <li class="press__item">
        <div class="press__head">
          <img loading="lazy" src="img/svg/press-3.svg" class="image" width="24" height="24" alt="">
          <div class="press__company">Department of Justice</div>
          <div class="press__date">1.26.22</div>
        </div>
        <p class="press__desc">
          Justice Department Establishes Initiative to Strengthen States’ Use of Criminal Justice Data
        </p>
      </li>
      <li class="press__item">
        <div class="press__head">
          <img loading="lazy" src="img/svg/press-4.svg" class="image" width="24" height="24" alt="">
          <div class="press__company">The New York Times</div>
          <div class="press__date">12.27.21</div>
        </div>
        <p class="press__desc">
          The 2021 Good Tech Awards
        </p>
      </li>
      <li class="press__item">
        <div class="press__head">
          <img loading="lazy" src="img/svg/press-5.svg" class="image" width="24" height="24" alt="">
          <div class="press__company">Corrections1</div>
          <div class="press__date">11.18.21</div>
        </div>
        <p class="press__desc">
          Maine DOC to better harness correctional data to improve outcomes
        </p>
      </li>
      <li class="press__item">
        <div class="press__head">
          <img loading="lazy" src="img/svg/press-6.svg" class="image" width="24" height="24" alt="">
          <div class="press__company">Right on Crime</div>
          <div class="press__date">9.9.21</div>
        </div>
        <p class="press__desc">
          Together, We Can Make Mississippi Safer and Reentry-Ready
        </p>
      </li>
    </ul>
  </div>
</section>
