<section class="work">
  <div class="container work__container">
    <div class="work__text">
      <h2 class="work__title">Where we work</h2>
      <p class="work__desc">
        We're expanding. Get in touch and start turning your data into action.
      </p>
      <button class="btn-reset btn btn--fill work__btn">Get in touch</button>
    </div>
    <picture class="work__image">
      <source srcset="img/work-image.webp" type="image/webp">
      <img loading="lazy" src="img/work-image.png" class="image" width="461" height="342" alt="">
    </picture>
  </div>
</section>
