// базовые подключения
@import "vars";
@import "mixins";
@import "fonts";
@import "settings";

// подключения компонентов страницы
@import "./components/nav";
@import "./components/btn";

.header-hero {
  background-image: url(../img/hero-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

@import "./components/header";
@import "./components/hero";
@import "./components/about";
@import "./components/approach";
@import "./components/news";
