// базовые подключения
@import "vars";
@import "mixins";
@import "fonts";
@import "settings";

// подключения компонентов страницы
@import "./components/nav";
@import "./components/btn";

.header-hero {
  background-image: url(../img/hero-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  @include big-tablet {
    background-position: top right -340px;
  }

  @include small-tablet {
    background-position: top left;
  }
}

@import "./components/header";
@import "./components/hero";
@import "./components/about";
@import "./components/approach";
@import "./components/news";
@import "./components/actions";
@import "./components/partners";
@import "./components/info";
@import "./components/press";
@import "./components/work";
@import "./components/menu";
@import "./components/footer";
